.outfits-list1 {
    list-style: none;
    padding: 0;
}
  
.outfit-item1 {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    text-align: center;
    background-color: #f9f9f9;
}
  
.image-container1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
  
.bookmark-container {
    position: absolute;
    top: 100px;
    right: 20px;
    z-index: 0;
  }